#accBackOf .titre h1{
    margin-top: 0.5em;
    margin-bottom: 1em;

}
#accBackOf img{
    width: 50px;
    margin-bottom: 5px;
}

#accBackOf .iconsCats h5, .iconsPrd h5, .iconCli h5, .iconCmd h5{
    color: white;
    margin: 0.5em;
}
#accBackOf .boite{

    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}
#accBackOf .iconsCats .boite{
    background-color: #2aabd2;
}
#accBackOf .iconsPrd .boite{
    background-color: #9B59B6;
}
#accBackOf .iconCli .boite{
    background-color: #B00040;
}

#accBackOf .iconCmd .boite{
    background-color: #00cc00;
}

#accBackOf .iconsCats .iconBO, .iconsPrd .iconBO, .iconCli .iconBO, .iconCmd .iconBO{
    border-bottom: 1px solid white;
}

/**************** responsive ********************/
@media (max-width: 576px){
    #accBackOf .iconBOLine1{
        margin-left: 0;
    }
    #accBackOf .boite{
        background-color: #2aabd2;
        border-radius: 10px;
        padding: 1em;
        margin-bottom: 1em;
        width: 95%;
    }
}

/***********************************************************/

div.col-md-12.icButtons img{
    width: 20px!important;
}
.icButtons h6{
    color: black;
}
.icButtons #newLine{
    color: black;
    font-size: 1.4em;
}

.carreCouleur{
    width: 25px;
    border: 1px solid lightsteelblue;
}